pnpm-lock.yaml
**/dist
**/.next
**/.wrangler
**/public/visitor.js
**/.astro
site/src/generated
site/public/search-index.json
artifacts
**/_build
**/deps
**/*.ex
**/*.exs
**/mix.lock

protocol/*.json
packages/elixir/priv/*.json
packages/elixir/priv/static/*
